<form method="post" action="{{ path('indemnite_delete', {'id': indemnite.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer ce donnée?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ indemnite.id) }}">
    <button class="btn btn-dange">Supprimer</button>
</form>
