{% extends 'base.html.twig' %}

{% block title %}Edition Type de Client{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edition Type de Client</h1>
    </div>
    <hr>

    {{ include('type_client/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>
    <a href="{{ path('type_client_index') }}" class="btn btn-primary">Retour</a>
    <br><br>
    {{ include('type_client/_delete_form.html.twig') }}
</div>
{% endblock %}
