{% extends 'base.html.twig' %}

{% block title %}Edit TypeClient{% endblock %}

{% block body %}
    <h1>Edit TypeClient</h1>

    {{ include('type_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_client_index') }}">back to list</a>

    {{ include('type_client/_delete_form.html.twig') }}
{% endblock %}
