{% extends 'base.html.twig' %}

{% block title %}New TypeClient{% endblock %}

{% block body %}
    <h1>Create new TypeClient</h1>

    {{ include('type_client/_form.html.twig') }}

    <a href="{{ path('type_client_index') }}">back to list</a>
{% endblock %}
