{% extends 'base.html.twig' %}

{% block title %}Nouveau Type de Client{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Créer Type de Client</h1>
    </div>
    <hr>

    <br><br>

    {{ include('type_client/_form.html.twig') }}
    <br>
    <a href="{{ path('type_client_index') }}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
