{% extends 'base.html.twig' %}

{% block title %}Edition Mouvement{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edition Mouvement</h1>
    </div>
    <hr>

    {{ include('mouvement/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br<
    <a href="{{ path('mouvement_index') }}" class="btn btn-primary">Retour</a>
    <br><br<
    {{ include('mouvement/_delete_form.html.twig') }}
</div>
{% endblock %}
