{% extends 'base.html.twig' %}

{% block title %}Nouveau Mouvement{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Créer Mouvement</h1>
    </div>
    <hr>

    <br><br>

    {{ include('mouvement/_form.html.twig') }}
    <br>
    <a href="{{ path('mouvement_index') }}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
