{% extends 'base.html.twig' %}

{% block title %}Edition Utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Edit Utilisateur</h1>
        </div>>
        <hr>

        {{ include('utilisateur/_form.html.twig', {'button_label': 'Modifier'}) }}
        <br>
        <a href="{{ path('utilisateur_index') }}" class="btn btn-primary">Retour</a>
        <br><br>
        {{ include('utilisateur/_delete_form.html.twig') }}
    </div
{% endblock %}
