{% extends 'base.html.twig' %}

{% block title %}Edition Stock{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edition Stock</h1>
    </div>
    <div>stock restant : <span id="restant"></span></div>
    {{ include('stock/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>
</div>
{% endblock %}
