{% extends 'base.html.twig' %}

{% block title %}Sortie d'article{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Sortie d'article</h1>
    </div>
    <hr>
    
</div>
{% endblock %}
