{% extends 'base.html.twig' %}

{% block title %}Nouveau Paye{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Créer Paye</h1>
    </div>
    <hr>

    <br><br>

    {{ include('paye/_form.html.twig') }}
    <br>
    <a href="{{ path('paye_index') }}" class="btn btn-primary">Retour</a>
</div<
{% endblock %}
