{% extends 'base.html.twig' %}

{% block title %}Edition Stock{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edition sortie</h1>
    </div>

    {{ include('sortie_article/_form.html.twig', {'button_label': 'Sortir'}) }}
    <br>
</div>
{% endblock %}
