{% extends 'base.html.twig' %}

{% block title %}Edit Mode{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Edit Mode</h1>
    </div>
    <hr>

    {{ include('mode/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br>
    <a href="{{ path('mode_index') }}" class="btn btn-primary">Retour</a>
    <br><br>
    {{ include('mode/_delete_form.html.twig') }}
</div>
{% endblock %}
