{% extends 'base.html.twig' %}

{% block title %}Nouveau Mode{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Créer Mode</h1>
    </div>
    <hr>

    <br><br>

    {{ include('mode/_form.html.twig') }}
    <br>
    <a href="{{ path('mode_index') }}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
