{% extends 'base.html.twig' %}

{% block title %}Edit RetourArticle{% endblock %}

{% block body %}
    <h1>Edit RetourArticle</h1>

    {{ include('retour_article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('retour_article_index') }}">back to list</a>

    {{ include('retour_article/_delete_form.html.twig') }}
{% endblock %}
