{% extends 'base.html.twig' %}

{% block title %}Noveau Stock{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Créer Stock</h1>
    </div>
    <hr>

    <br><br>

    {{ include('stock/_form.html.twig') }}
    <br>
    <a href="{{ path('stock_index') }}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
