{% extends 'base.html.twig' %}

{% block title %}Nouveau Type de Payement{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Créer Type de Payement</h1>
    </div>
    <hr>

    {{ include('type_payement/_form.html.twig') }}
    <br>
    <a href="{{ path('type_payement_index') }}" class="btn btn-primary">Retour</a>
</div>
{% endblock %}
